.product-card-container {
    max-width: 100%;
    height: auto;
    text-decoration: none;
    position: relative;
    width: calc((99vw - 400px) / 3.5 );
    text-align: center;
    margin-bottom: 4px;
    /* border: 2px red solid; */
    padding: 10px;
    background-color: rgb(247, 244, 239);
    border-radius: 10px;
}

.product-card-container:hover {
    background-color: rgb(247, 244, 239);
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
}

.product-card-container > img {
    object-fit: cover;
    width: calc((99vw - 400px)/ 3.5);
    max-width: 100%;
    height: calc((99vw - 515px)/2.5);
    border-radius: 10px 10px 0px 0px;
    /* border: 2px green solid; */
}

.product-card-name-price-container {
    text-align: start;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    /* border: green solid 2px; */
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    height: 100px;
}



#product-item-name {
    color: rgb(83, 83, 83);
    font-size: clamp(12px, 2.5vw, 25px);
    /* border: 2px red solid; */
    margin-bottom: 0px;
    margin-top: 0px;
}

#product-item-price {
    color: rgb(83, 83, 83);
    /* border: 2px green solid; */
    margin-top: 10px;
    font-size: clamp(12px, 2.5vw, 20px);
}

@media (max-width: 1000px) {
    .product-card-container {
        width: calc((99vw - 300px) / 2 );
        height: auto;
    }
    .product-card-container > img {
        max-width: 100%;
        width: calc((99vw - 300px) / 2 );
        height: calc((99vw - 300px) / 1.5 );;
    }
}


@media (max-width:500px) {
    .product-card-container {
        width: 250px;
        height: auto;
    }

    .product-card-container > img {
        max-width: 100%;
        width: 250px;
        height: 250px;
    }
}