.history-cart-card {
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 5vh;
    background-color: rgb(247, 244, 239);
    /* border: 2px red solid; */
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    min-width: 800px;
    max-width: 1000px;
}

.order-number-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 0px;
}

.history-cart-card > h3 {
    margin-top: 0px;
}

.history-cart-card-info-container {
    /* border: green solid 2px; */
    display: flex;
    align-items: center;
    gap: 2vw;
    margin: 8px;
    background-color: white;
}

.history-cart-item-p {
    width: 200px;
    min-width: 150px;
    color: rgb(83, 83, 83);
    /* border: 2px green solid; */
}

.buy-again-button {
    padding: 5px 10px;
    background-color: rgb(62, 188, 142);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.buy-again-link {
    text-decoration: none;
    color: white;
}

@media (max-width:1050px) {
    .history-cart-card {
        margin-left: 5vw;
        margin-right: 5vw;
        min-width: 0px;
    } 

    .order-number-date-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* gap: 20px; */
        margin-bottom: 0px;
        /* border: 2px red solid; */
    }

    .history-cart-card-info-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 10px;
    }
}

@media (max-width:750px) {
    .history-cart-card-info-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
    }
}

@media (max-width:500px) {
    .history-cart-card-info-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
    }
}
