.landing-page-whole-container {
    margin-left: 3vw;
    margin-right: 3vw;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0;
    row-gap: 1vw;
    width: 100%;
    margin-top: 20px;
}



.product-item-card-navlink {
    text-decoration: none;
    /* color: rgb(83, 83, 83); */
}

.landing-page-img-text-cantainer {
    /* border: 2px red solid; */
    margin-bottom: 0px;
    position: relative;
}

.landing-page-img{
    margin-top: 1vw;
    margin-bottom: 2vw;
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.landing-page-text-container {
    position: absolute;
    left: 66vw;
    bottom: 25vw;
    color: rgb(83, 83, 83)
}

.landing-page-button-container {
    display: flex;
    gap: 10px;
}

.landing-page-outdoor-collection-button {
    padding: 10px 30px;
    background-color: rgb(62, 188, 142);
    box-shadow: 2px 2px 2px gray;
    border: none;
    color: white;
    font-size: medium;
    cursor: pointer;
}

.landing-page-new-arrivals-button {
    padding: 10px 30px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px gray;
    border: none;
    color: rgb(62, 188, 142);
    font-size: medium;
    cursor: pointer;
}

.landing-page-h1 {
    font-size: 40px;
    color: rgb(83, 83, 83);
    margin-bottom: 0px;
}