.create-product-validator {
    color: rgb(22, 151, 97)
}

.create-product-title {
    text-align: center;
    color: rgb(83, 83, 83);
}

.create-product-form-container {
    display: grid;
    width: 400px;
    text-align: start;
    margin: auto;
}

.create-product-input-container {
    display: grid;
    gap: 2px;
    width: 400px;
    text-align: start;
    margin-bottom: 2vw;
    color: rgb(83, 83, 83);
}

.crate-product-submit-button-disable {
    padding: 10px 10px;
    background-color: rgb(210, 206, 206);
    border: none;
    color: white;
    border-radius: 20px;
}

.create-product-submit-button-active {
    padding: 10px 10px;
    background-color: rgb(62, 188, 142);
    border: none;
    border-radius: 20px;
    color: white;
    box-shadow: 2px 2px 2px gray;
    cursor: pointer;
}

.create-product-textarea {
    height: 130px;
}