.create-product-validator {
    color: rgb(22, 151, 97)
}

.create-product-title {
    text-align: center;
    color: rgb(83, 83, 83);
}

.create-product-form-container {
    display: grid;
    width: 400px;
    text-align: start;
    margin: auto;
}

.create-product-input-container {
    display: grid;
    gap: 2px;
    width: 400px;
    text-align: start;
    margin-bottom: 2vw;
    color: rgb(83, 83, 83);
}

.create-product-submit-button {
    padding: 8px 10px;
    background-color: rgb(62, 188, 142);
    border: none;
    border-radius: 10px;
    color: white;
}

.create-product-textarea {
    height: 130px;
}