.product-show-page-container {
    color: rgb(83, 83, 83);
}

.product-details-container {
    margin: 3vw;
    display: flex;
    flex-direction: row;
    gap: 5vw;
    /* border: 2px green solid; */
}

.product-details-container > img {
    object-fit: cover;
    width: 55%;
    height: 700px;
    /* width: calc((99vw - 515px)/ 2); */
    /* max-width: 400px; */
    /* height: calc((99vw - 515px) / 1.5); */
    /* max-height: 400px; */
    border-radius: 10px;
}

.review-rating-count-container,
.post-your-review-container {
    margin: 3vw;
}

.review-rating-count-container > span {
    padding-right: 1vw;
}

.single-review-container {
    margin: 5vw 3vw;
}

.product-detail-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
}

#product-detail-name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 40px;
}

#product-detail-price {
    margin-top: 0px;
    font-size: 20px;
}

.product-detail-description-container {
    width: 70%;
}

.product-detail-description-container > h3 {
    font-size: 20px;
}

.product-detail-description-container > p {
    font-size: 18px;
}

.product-detail-add-to-cart-button {
    padding: 10px 50px;
    background-color: rgb(62, 188, 142);
    border: none;
    color: white;
    font-size: medium;
    cursor: pointer;
    border-radius: 5px;
}

.post-your-review-button {
    padding: 10px 50px;
    background-color: rgb(62, 188, 142);
    border: none;
    color: white;
    font-size: medium;
    cursor: pointer;
    border-radius: 5px;
}

.delete-review-button,
.update-review-button {
    padding: 5px 30px;
    background-color: rgb(62, 188, 142);
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
}

.login-signup-on-detail-page {
    color: rgb(62, 188, 142);
}