.checkout-page-item-card {
    display: flex;
    gap: 3vw;
    align-items: center;
    /* border: 2px red solid; */
}

.checkout-item-p-container {
    width: 200px;
    font-size: 20px;
    color: rgb(83, 83, 83);
    /* border: green solid 2px; */
    min-width: 100px;
}

.checkout-item-itemSubtotal-p {
    width: 150px;
    font-size: 20px;
    color: rgb(83, 83, 83);
    /* border: green solid 2px; */
    min-width: 100px;
}

.checkout-item-image {
    width: 200px;
    height: 200px;
    min-width: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 1px 1px 1px gray;
    cursor: pointer;
}

.checkout-item-link {
    text-decoration: none;
    color: rgb(83, 83, 83);
    border-bottom: 2px solid rgb(83, 83, 83);
}

.checkout-item-button-container {
    display: flex;
    gap: 20px;
    align-items: center;
    /* border: blue 2px solid; */
}

.checkout-item-button-container > button {
    width: 30px;
    height: 25px;
    background-color: white;
    color: rgb(62, 188, 142);
    border: 1px solid rgb(62, 188, 142);
    box-shadow: 2px 2px 2px gray;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-item-remove-button {
    padding: 5px 20px;
    background-color: rgb(62, 188, 142);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-item-quantity-container {
    font-size: large;
    color: rgb(83, 83, 83);
}

@media (max-width: 1250px) {
    .checkout-page-item-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        border-bottom: 1px gray solid;
        align-items: center;
    }
    .checkout-item-remove-button {
        width: 100px;
        margin-bottom: 1vh;
    }

    .checkout-item-unit-price-container {
        display: none;
    }
}

@media (max-width:600px) {
    .checkout-page-item-card {
        display: flex;
        flex-direction: column;
        align-items: start;
        /* border: 2px green solid; */
        border-bottom: 1px gray solid;
    } 
}
