.delete-product-modal-container {
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delete-product-modal-container > button {
    padding: 10px 0px;
    border-radius: 20px;
    font-size: medium;
}

.delete-product-yes-button {
    background-color: whitesmoke;
    border: none;
    color: rgb(62, 188, 142);
    box-shadow: 2px 2px 2px gray;
    cursor: pointer;
}

.delete-product-no-button {
    background-color: rgb(62, 188, 142);
    border: none;
    color: white;
    box-shadow: 2px 2px 2px gray;
    cursor: pointer;
}