/* TODO: Add sitewide styles */
.footer {
    color: rgb(83, 83, 83);
    text-align: end;
    margin-top: 35vh;
    margin-bottom: 1vh;
    background-color: rgb(247, 244, 239);
    padding: 15px;
}

@media (max-width:430px) {
    .footer {
        font-size: 12px;
    }
}
