.profile-dropdown {
  position: absolute;
  color: rgb(83, 83, 83);
  top: 55px;
  right: 25px;
  background-color: white;
  box-shadow: 2px 2px 2px gray;
  /* border: solid 1px rgb(200, 200, 200); */
  min-width: 150px;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  font-size: 18px;
  z-index: 1;
}

.user-button {
  border: 1px solid gray;
  border-radius: 25% 25% 25% 25%;
  background-color: white;
  box-shadow: 2px 2px 2px gray;
}

.user-button:hover {
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 15px;
  border-bottom: 1px lightgray solid;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: white;
}

.manage-product-p,
.login-signup-p {
  cursor: pointer;
}

.log-out-button {
  border: none;
  background-color: rgb(62, 188, 142);
  padding: 5px 10px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.github-link {
  padding-left: 5px;
  text-decoration: none;
  color: rgb(83, 83, 83);
}

.github-and-profilebutton-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.shopping-cart-button {
  border: none;
  background-color: white;
}

.shopping-cart-dropdown {
  position: absolute;
  color: rgb(83, 83, 83);
  top: 23px;
  right: 25px;
  background-color: white;
  box-shadow: 2px 2px 2px gray;
  /* border: solid 1px rgb(200, 200, 200); */
  min-width: 150px;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  font-size: 18px;
  z-index: 1;
}