.profile-dropdown {
  position: fixed;
  color: rgb(83, 83, 83);
  /* top: 55px; */
  /* right: 25px; */
  top: -10px;
  right: 20px;
  box-shadow: 2px 2px 2px gray;
  min-width: 150px;
  border-radius: 5px;
  padding: 20px;
  padding-left: 30px;
  font-size: 18px;
  z-index: 1;
  background-color: rgb(247, 244, 239);
}

/* Visible state (slide-in) */
.profile-dropdown-visible {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

/* Hidden state (slide-out) */
.profile-dropdown-hidden {
  transform: translateX(110%);
  transition: transform 0.3s ease-in-out;
}

.user-button {
  border: none;
  background-color: white;
}

.user-button:hover {
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 15px;
  border-bottom: 1px lightgray solid;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: white;
}

.nav-collections-container {
  display: flex;
  /* border: 2px red solid; */
  justify-content: center;
  gap: 5vw;
  color: rgb(83, 83, 83);
  font-size: large;
  font-weight: bold;
}

.nav-collection-link {
  text-decoration: none;
  color: rgb(83, 83, 83);
  cursor: pointer;
}

.manage-product-p,
.login-signup-p,
.order-history-p {
  cursor: pointer;
}

.log-out-button {
  border: none;
  background-color: rgb(62, 188, 142);
  padding: 5px 10px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.github-link {
  padding-left: 5px;
  text-decoration: none;
  color: rgb(83, 83, 83);
}

.github-and-profilebutton-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.shopping-cart-button {
  border: none;
  background-color: white;
  cursor: pointer;
}



.shopping-cart-dropdown {
  position: fixed;
  color: rgb(83, 83, 83);
  top: -10px;
  right: 20px;
  max-height: 700px;
  overflow-y: auto;
  min-height: 95%;
  background-color: rgb(247, 244, 239);
  box-shadow: 2px 2px 2px gray;
  min-width: 150px;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  font-size: 18px;
  z-index: 10;
}

/* Visible state (slide-in) */
.shopping-cart-dropdown-visible {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

/* Hidden state (slide-out) */
.shopping-cart-dropdown-hidden {
  transform: translateX(110%);
  transition: transform 0.3s ease-in-out;
}

.shopping-cart-h1-and-x {
  display: flex;
  justify-content: space-between;
  gap:20px;
  /* align-items: center; */
}

.shopping-cart-h1-and-x > h1 {
  margin-top: 0px;
}

.shopping-cart-h1-and-x > i {
  margin-top: 10px;
  margin-right: 5px;
  cursor: pointer;
}


.shopping-cart-checkout-button {
  background-color: rgb(62, 188, 142);
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 250px;
}

.shopping-cart-items-container {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(190, 186, 186); 
}

.shopping-cart-items-container > span,
.shopping-cart-product-name-img-container {
  width: 120px;
  /* border: 2px green solid; */
  min-height: 50px;
}

.shopping-cart-items-column-container {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}

.shopping-cart-items-column-container > span {
  width: 120px;
  /* border: solid red 2px; */
}


#shopping-cart-price-span,
.shopping-cart-price-column-span,
.shopping-cart-buttons-column-span {
  text-align: center;
}

#shopping-cart-buttons-span {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#shopping-cart-buttons-span > button {
  height: 25px;
  width: 25px;
  background-color: white;
  color: rgb(62, 188, 142);
  border: 1px solid rgb(62, 188, 142);
  box-shadow: 2px 2px 2px gray;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.profileButton-x-container {
  display: flex;
  justify-content: space-between;
}

.shopping-cart-product-name-img-container {
  display: flex;
  flex-direction: column;
  max-width: 120px;
  margin-bottom: 2vh;
  /* border: 2px green solid; */
}

@media (max-width:700px) {
  .nav-collections-container {
    display: none;
  }
}

@media (max-width:430px) {
  .nav-collections-container {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin-left: 3vw;
    margin-right: 3vw;
  }

  .shopping-cart-dropdown {
    min-width: 50%;
    padding: 10px;
    right: 0px;
    top: -18px;
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .shopping-cart-h1-and-x {
    /* border: blue solid 2px; */
    font-size: small;
    display: flex;
    width: 100%;
  }

  .shopping-cart-items-column-container {
    display: none;
  }

  .shopping-cart-items-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px gray solid;
    max-width: 100%;
    /* border: 2px solid red; */
  }

  .shopping-cart-items-container > span {
    /* border: 2px red solid; */
    width: 50%;
    /* border: none; */
    text-align: start;
  }

  .shopping-cart-checkout-button {
    margin-left: 0px;
  }

  .shopping-cart-product-name-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 2px red solid; */
    max-width: 430px;
    margin: 0px 2vw;
  }

 
}


