.order-history-page {
    color: rgb(83, 83, 83);
    min-height: 50vh;
}

.order-history-page > h1 {
    margin-left: 15vw;
}

@media (max-width:1050px) {
    .order-history-page > h1 {
        margin-left: 5vw;
    }
}